* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    color: #2d3436;
}

.content {
  flex: 1;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 1em 0;
}

.container {
  max-width: 1000px;
  padding: 0 1.2em;
  margin: 0 auto;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.about-container,
.contact-container {
  max-width: 600px;
  padding: 0 1.2em;
  margin: 0 auto;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

img {
  max-width: 100%;
}

p {
  margin: 1em 0;
  font-weight: 400;
  line-height: 1.4;
}

li {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: #636e72;
}

a.logo {
  font-weight: 700;
  font-size: 1.4em;;
}

.title {
  font-weight: 100;
  margin: 1em 0;
}

h1 {
  text-align: center;
  margin: 1.5em 0;
}

.product-card {
  text-align: center;
}

.price {
  margin: 1em 0;
  font-weight: 400;
  font-size: 1.4em;
}

.center {
  text-align: center;
}

.snipcart-checkout {
  display: flex;
  align-items: center;
}

button,
button.buy-button {
  margin: 1em 0;
  padding: 1.2em;
  border: 1px solid #00b894;
  background-color: #00b894;
  border-radius: 20px;
  color: #fff;
  font-size: inherit;
}

button:hover {
  background-color: #55efc4;
  border-color: #55efc4;
}

form {
  max-width: 600px;
  margin: 2em auto;
}

input,
textarea {
  width: 100%;
  padding: 1em;
  margin-bottom: 0.5em;
  font: inherit;
  border: 1px solid #2d3436;
}

textarea {
  height: 200px;
}

.testimonials {
  max-width: 30em;
  margin: 0 auto;
}

footer {
  text-align: center;
  background-color: #2d3436;
  color: #fff;
  padding: 2em;
  margin-top: 2em;
}

footer ul li {
  margin: 2em 0;
}

footer p {
  margin-bottom: 1em;
}

footer img {
  max-width: 20px;
}

@media(min-width: 500px) {

  ul.products {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1000px;
  }

  .product-card {
    max-width: 48%;
    margin: 1%;
  }

}


